.container{
    width: 400px;
    margin: auto auto;
}
.container img{
    width: 100%;
    height: auto;
    align-items: center;
    transition: all 1s;
}
.container:hover img{
    transform: scale(1.2);
    border-radius: 500px;
}