<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-4 col-lg-4 mx-auto">
          <img src="assets\about image\41years.webp" alt="" srcset="">
        </div>
      
        <div class="col-md-4 col-lg-8 col-lg-4 d-flex align-items-center justify-content-center">
          <div class="col-md-4 col-lg-4 col-xl-4 my-3 text-success">
            <h5 class="fs-3">Years of Welfare Banking</h5>
          </div>
          <div class="col-md-8 col-lg-8 col-xl-8 mx-auto mt-3">
            <p>
                Islami Bank Bangladesh PLC (IBBPLC) is the largest commercial bank of Bangladesh. It is the first Shariah-based Islamic bank in the South-East Asia established in March 1983.  The Bank is a joint venture Public Limited Company with majority shareholding by foreign institutions and enlisted with Dhaka & Chattogram stock exchanges. With 394 branch, 249 sub-branch & 2,771 Agent Banking Outlets, the Bank posseses the largest branch network among the private sector banks in Bangladesh. It renders general banking, commercial investment and foreign exchange services with substantial CSR activities. Besides, the Bank is a global pioneer in and largest operator of Islamic microfinance.
            </p>
            <button type="button" class="btn btn-success btn-rounded">
                <i class="fas fa-arrow-right"></i> Who We Are
              </button>
              
          </div>
        </div>
      </div>
</div>
  
