
<section class="ab">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h6 class="body" >Login</h6>
      <form  (ngSubmit)="login()" class="aa">
        <div class="login aa">
          
          <input type="text" placeholder="Username" id="username" name="username" [(ngModel)]="username" >  
        <input type="password" placeholder="password" id="password" name="password" [(ngModel)]="password" >  
        <a href="#" class="forgot">Forgot password?</a>
        <input type="submit" value="Sign In" >
        </div>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</section>



  

