<div class="super_container" style="background-color:aliceblue">
    <!-- Features -->

    <div class="features">
        <div class="container">
            <div class="row">

                <!-- Icon Box -->
                <div class="col-lg-4 icon_box_col">
                    <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                        <div class="icon_box_icon"><img src="assets\images\icon_1.svg" class="svg"
                                alt="https://www.flaticon.com/authors/monkik"></div>
                        <div class="icon_box_title">
                            <h2>Fabulous Resort</h2>
                        </div>
                        <div class="icon_box_text">
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum.</p>
                        </div>
                    </div>
                </div>

                <!-- Icon Box -->
                <div class="col-lg-4 icon_box_col">
                    <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                        <div class="icon_box_icon"><img src="assets\images\icon_2.svg" class="svg"
                                alt="https://www.flaticon.com/authors/monkik"></div>
                        <div class="icon_box_title">
                            <h2>Infinity Pool</h2>
                        </div>
                        <div class="icon_box_text">
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum.</p>
                        </div>
                    </div>
                </div>

                <!-- Icon Box -->
                <div class="col-lg-4 icon_box_col">
                    <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                        <div class="icon_box_icon"><img src="assets\images\icon_3.svg" class="svg"
                                alt="https://www.flaticon.com/authors/monkik"></div>
                        <div class="icon_box_title">
                            <h2>Luxury Rooms</h2>
                        </div>
                        <div class="icon_box_text">
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



    <!-- Gallery -->

    <div class="wrapper box">
        <div class="single-box"><img alt="" src="assets\images\abbb.jpg"></div>
        <div class="single-box"><img alt="" src="assets\images\var1.avif"></div>
        <div class="single-box"><img alt="" src="assets\images\blog_3.jpg"></div>
        <div class="single-box"><img alt="" src="assets\images\aaaa.jpg"></div>
    </div>
  
