 <!-- Header -->
 <div class="super_container">
     <header class="header">
         <div class="header_content d-flex flex-row align-items-center justify-content-start ">
             <div class="logo"><a href="#">The River</a></div>
             <div class="ml-auto d-flex flex-row align-items-center justify-content-start">
                 <nav class="main_nav">
                     <ul class="d-flex flex-row align-items-start justify-content-start">
                         <li><a routerLink="/" ></a></li>
                         <li><a routerLink="/" >Home</a></li>
                        
                         <!-- <li><a routerLink="/booking-data-search" >Appointment</a></li> -->
                         <li><a routerLink="/pre-booking" >Rooms</a></li>
                         <li><a routerLink="/foodview" >Service</a></li>
                         <li><a routerLink="/feedback" >Feedback</a></li>
                     </ul>
                 </nav>
                 <div class="book_button"><a routerLink="/bookingform">Book Online</a></div>
                 <div class="header_phone d-flex flex-row align-items-center justify-content-center">
                     <img src="assets\images\phone.png" alt="">
                     <span>0183-12345678</span>
                 </div>
                 <nav class="main_nav">
                     <ul class="d-flex flex-row align-items-start justify-content-start">
                         
                         <li><a routerLink="/appointme" ></a></li>
                         <li><a routerLink="/admin-login">Login</a></li>
                     </ul>
                 </nav>
     
                 <!-- Hamburger Menu -->
                 <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
             </div>
         </div>
     </header>