







<div>
  
  <div class="row bg-color justify-content-center mt-5">

     <div class="text-container mt-5">
    <h1>READ THE NEWS</h1>
    <p>WHAT'S HAPPENING</p>
  </div>
    <div class="col-sm-3">
      <div class="card mb-3  hover-effect">
        <img src="assets\card image\1.jpg" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"><a>Islami Bank distributes food among fasting peole.</a> </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 hover-effect">
        <img src="assets\card image\2.jpg" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card mb-3 hover-effect">
        <img src="assets\card image\3.jpg" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row bg-color justify-content-center mt-5">
    <div class="col-sm-3">
      <div class="card mb-3  hover-effect">
        <img src="assets\card image\4.jpeg" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 hover-effect">
        <img src="assets\card image\5.jpg" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card mb-3 hover-effect">
        <img src="assets\card image\6.jpg" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <!-- Company Info -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <a class="text-uppercase mb-4 font-weight-bold text-warning text-decoration-none">Company Name</a>
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <!-- Products -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h5>
        <p><a href="#" class="text-white" style="text-decoration: none;">The Providers</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Creativity</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Source Files</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Bootstrap 5</a></p>
      </div>
      <!-- Useful Links -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
        <p><a href="#" class="text-white" style="text-decoration: none;">Your Account</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Become an Affiliate</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Shipping Rate</a></p>
        <p><a href="#" class="text-white" style="text-decoration: none;">Help</a></p>
      </div>
      <!-- Contact Info -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
        <p><i class="fas fa-home mr-3"></i> Dhaka-1205, Bangladesh</p>
        <p><i class="fas fa-envelope mr-3"></i> example@example.com</p>
        <p><i class="fas fa-phone mr-3"></i> +1234567890</p>
        <p><i class="fas fa-print mr-3"></i> +1234567890</p>
      </div>
      <!-- Social Media Links -->
      <div class="col-md-3 col-lg-4">
        <div class="text-center mx-auto">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <h5>Follow Us On</h5>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/IslamiBankBangladeshPublicLimitedCompany/" class="btn-floating btn-sm text-white" style="font-size: 23px;" aria-label="Facebook">
                <i class="fab fab fa-facebook-square"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/IslamiBankBangladeshPublicLimitedCompany/" class="btn-floating btn-sm text-white" style="font-size: 23px;" aria-label="Facebook">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/IslamiBankBangladeshPublicLimitedCompany/" class="btn-floating btn-sm text-white" style="font-size: 23px;" aria-label="Facebook">
                <i class="fab fa-twitter-square"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/IslamiBankBangladeshPublicLimitedCompany/" class="btn-floating btn-sm text-white" style="font-size: 23px;" aria-label="Facebook">
                <i class=" fab fa-youtube-square"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/IslamiBankBangladeshPublicLimitedCompany/" class="btn-floating btn-sm text-white" style="font-size: 23px;" aria-label="Facebook">
                <i class="fab fab fa-google-plus-square"></i>
              </a>
            </li>
            <!-- Add other social media links similarly -->
          </ul>
        </div>
      </div>
    </div>
    <hr class="mb-4">
    <!-- Copyright -->
    <div class="row align-item-center">
      <div class="col-md-7 col-lg-8 mx-auto">
        <p>
          Copyright @2024 
          <a href="http://" style="text-decoration: none;">
            <strong class="text-success">Islami IslamiBankBangladeshPLC</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

