

<div class="conduct">
    <div class="row">
        <div class="col-5">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap" />
                    </svg>

                    <span class="fs-3 ml-3"> <span><i class="fa-solid fa-users"></i></span><p>Admin</p> </span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/booking-show">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home" />
                            </svg>
                            <span><i class="fa-solid fa-file-invoice"></i></span>
                            Customar  details
                        </a>
                    </li>
                    <li class="nav-item mt-3">
                        <a class="nav-link active" aria-current="page" routerLink="/booking-show-data">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home" />
                            </svg>
                            <span><i class="fa-solid fa-bangladeshi-taka-sign"></i></span>
                        Booked Info
                        </a>
                    </li>
                    <li class="nav-item mt-3">
                        <a class="nav-link active" aria-current="page" routerLink="/withdraw">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home" />
                            </svg>
                            <span><i class="fa-solid fa-money-bill-transfer"></i></span>
                          Staff Information
                        </a>  
                    </li>

                    <li class="nav-item mt-3">
                        <a class="nav-link active" aria-current="page" routerLink="/showalltabledata">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home" />
                            </svg>
                            <span><i class="fa-solid fa-money-bill-transfer"></i></span>
                          CheckOut
                        </a>
                    </li>

                    <li class="nav-item mt-3">
                        <a class="nav-link active" aria-current="page" routerLink="/order-show-data">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home" />
                            </svg>
                            <span><i class="fa-solid fa-money-bill-transfer"></i></span>
                          Order Details
                        </a>
                    </li>

                </ul>
                <hr>
            </div>
        </div>
    </div>
</div> 





