.container{
    width: 400px;
    margin: auto auto;
}
.container img{
    width: 100%;
    height: auto;
    align-items: center;
    transition: all 1s;
}
.container:hover img{
    transform: scale(1.2);
    border-radius: 500px;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}