<!-- Header -->
<div class="super_container">
    <header class="header">
        <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo"><a href="#">The River</a></div>
            <div class="ml-auto d-flex flex-row align-items-center justify-content-start">
                <nav class="main_nav">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li><a routerLink="/" ></a></li>
                        <li><a routerLink="/" >Home</a></li>
                       
                        <!-- <li><a routerLink="/booking-data-search" >Appointment</a></li> -->
                        <li><a routerLink="/pre-room" >Rooms</a></li>
                        <li><a routerLink="/foodview" >Service</a></li>
                        <li><a routerLink="/feedback" >Feedback</a></li>
                    </ul>
                </nav>
                <div class="book_button"><a routerLink="/bookingform">Book Online</a></div>
                <div class="header_phone d-flex flex-row align-items-center justify-content-center">
                    <img src="assets\images\phone.png" alt="">
                    <span>0183-12345678</span>
                </div>
                <nav class="main_nav">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        
                        <li><a routerLink="/appointme" ></a></li>
                        <li><a routerLink="/admin-login">Login</a></li>
                        <li><a routerLink="/singup">SignUp</a></li>
                    </ul>
                </nav>
    
                <!-- Hamburger Menu -->
                <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
            </div>
        </div>
    </header>
    
    <!-- Menu -->
    
    <div class="menu trans_400 d-flex flex-column align-items-end justify-content-start">
        <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="menu_content">
            <nav class="menu_nav text-right">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="#">Rooms</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu_extra">
            <div class="menu_book text-right"><a href="#">Book online</a></div>
            <div class="menu_phone d-flex flex-row align-items-center justify-content-center">
                <img src="assets\images\phone-2.png" alt="">
                <span>0183-12345678</span>
            </div>
        </div>
    </div>
    
    <!-- Home -->
    
    <div class="home">
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">
                
                <!-- Slide -->
                <div class="slide">
                    <div class="background_image " style="background-image:url(https://www.santoriniview-hotel.gr/media/u5oozrj5/santorini-view-hotel-1.jpg?rxy=0.4118236472945892,0.7870967741935484&width=1920&height=1080&rnd=133330431942830000&quality=70)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content text-center">
                                        <div class="home_title">A Luxury Stay</div>
                                        <div class="booking_form_container">
                                            <form  class="booking_form" (ngSubmit)="check()">
                                                <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                                    <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                                                        <div>
                                                            <!-- <label for="checkin" class="form-label text-light">Checkin</label> -->
                                                            <input type="date"  class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required" id="checkin" name="checkin" [(ngModel)]="checkin">
                                                        </div>
                                                        <div><input type="date" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required" name="checkout" [(ngModel)]="checkout"></div>
                                                        <!-- <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                                                        
                                                            <div><input type="number" class="booking_input booking_input_b" placeholder="Adults" required="required"></div> -->
                                                            <button type="submit" class="booking_button trans_200">Search by Room</button>
                                                    </div>
                                                    <!-- <div ><button type="submit" class="booking_button trans_200">Search by Room</button></div> -->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     
                <!-- Slide -->
                <div class="slide">
                    <div class="background_image" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVDvLwtrGgUhg0JJDHNY147RW7trJ6pY6PXg5M8TLSlg&s)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content text-center">
                                        <div class="home_title">A Luxury Stay</div>
                                        <div class="booking_form_container">
                                            <form action="#" class="booking_form">
                                                <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                                    <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                                                        <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                                                        <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                                                        <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                                                        <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                                                    </div>
                                                    <div><button class="booking_button trans_200">Book Now</button></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Slide -->
                <div class="slide">
                    <div class="background_image" style="background-image:url(images/index_1.jpg)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content text-center">
                                        <div class="home_title">A Luxury Stay</div>
                                        <div class="booking_form_container">
                                            <form action="#" class="booking_form">
                                                <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                                    <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                                                        <div><input type="date" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                                                        <div><input type="date" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                                                        <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                                                        <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                                                    </div>
                                                    <div><button class="booking_button trans_200">Book Now</button></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            
            <!-- Home Slider Dots -->
            <div class="home_slider_dots_container">
				<div class="home_slider_dots">
					<ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-start justify-content-start">
						<li class="home_slider_custom_dot active">01.</li>
						<li class="home_slider_custom_dot">02.</li>
						<li class="home_slider_custom_dot">03.</li>
					</ul>
				</div>
			</div>
        </div>
    </div>
    </div>