
<h2 > Food package</h2>
<hr>
<section class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets\images\food1.jpg" class="card-img-top zoom" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Breakfast package</h5>
                    <ul>
                        <li>bread</li>
                        <li>Honey</li>
                        <li>chicken </li>
                        <h1>৳ 220</h1>
                    </ul>
                    <a routerLink="/foodorder" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="card" style="width: 18rem;">
                <img src="assets\images\lunce1.jpg" class="card-img-top" style="height: 190px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lunch package</h5>
                    <ul>
                        <li>Rice</li>
                        <li>Honey</li>
                        <li>chicken </li>
                        <h1>৳ 399</h1>
                    </ul>
                    <a routerLink="/foodorder" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="card" style="width: 18rem; ">
                <img src="assets\images\dinner1.jpg" class="card-img-top" style="height: 170px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dinner package</h5>
                    <ul>
                        <li>Nut Butter</li>
                        <li>Honey</li>
                        <li>beff</li>
                        <h1>৳ 250</h1>
                    </ul>
                    <a routerLink="/foodorder" class="btn btn-primary">Order now</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="assets\images\lunce2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lunch package</h5>
                    <ul>
                        <li>bread</li>
                        <li>Honey</li>
                        <li>chicken </li>
                        <h1>৳ 299</h1>
                    </ul>
                    <a routerLink="/foodorder" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="card" style="width: 18rem;">
                <img src="assets\images\food3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Breakfast package</h5>
                    <ul>
                        <li>Nut Butter</li>
                        <li>Honey</li>
                        <li>chicken </li>
                        <h1>৳ 200</h1>
                    </ul>
                    <a routerLink="/foodorder" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="card" style="width: 18rem; ">
                <img src="assets\images\dinner2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dinner package</h5>
                    <ul>
                        <li>Nut Butter</li>
                        <li>Honey</li>
                        <li>beff</li>
                        <h1>৳ 250</h1>
                    </ul>
                    <a routerLink="/foodorder" class="btn btn-primary">Order now</a>
                </div>
            </div>
        </div>
    </div>
</section>


